.sideBar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    scrollbar-width: 5px;
    scrollbar-width: 20px;

    .sidebarWrapper{
   padding: 20px;

   .btn-show-more{
    margin:20px;
    background-color: #E3E1E3;
    color: #000;
    font-size: 14px;
   }
    }
    
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
   background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
}